<!DOCTYPE html>
<html>
<head>

<title>QR Scan History - Tagvee</title>

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

 <link rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/tagvee-favicon.png') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header class="navbar">

<div class="container nav-content">

            <a href="/" class="logo-link">
                <img
                    src="{{ url_for('static', filename='images/tagvee-logo-final.png') }}"
                    alt="TAGVEE"
                    class="logo-image"              >
            </a>


<a href="/dashboard"
class="btn btn-secondary">

Dashboard

</a>

</div>

</header>


<div class="container">

<section class="auth-container">

<div class="auth-card">

<h1>QR Scan History</h1>

<p>

Track how many times your vehicle QR code has been scanned.

</p>

<br>

<h3>

Total Scans :
{{ total_scans }}

</h3>

<br>

{% if scans %}

<table>

<tr>

<th>Scan ID</th>

<th>Date & Time</th>

</tr>

{% for scan in scans %}

<tr>

<td>{{ scan.id }}</td>

<td>{{ scan.scan_time }}</td>

</tr>

{% endfor %}

</table>

{% else %}

<p>

No QR scans found.

</p>

{% endif %}

<br>

<a href="/dashboard">

<button class="btn btn-primary auth-btn">

Back to Dashboard

</button>

</a>

</div>

</section>

</div>

</body>
</html>